<div class="site-footer mt-16 py-4 border-t border-gray-300 w-full max-w-2xl">
  <div class="flex items-center justify-between">
    <div>
      <p class="text-xs">© 2008-2024 Rick Hocutt - All rights reserved</p>
    </div>

    <ul class="social-media flex">
      <li>
        <a href="http://www.linkedin.com/in/rickhocutt" target="_blank">
          <i class="fab fa-linkedin"></i>
          <span class="sr-only">LinkedIn</span>
        </a>
      </li>
    </ul>
  </div>
</div>