/* Custom Components Go Here. */

.button {
    @apply p-2 rounded;
  }

  .button:focus {
    @apply outline-none;
  }

  .button--primary {
    @apply bg-primary-500 text-white;
  }

  .button--primary:hover, .button--primary:focus {
    @apply bg-primary-700 text-white;
  }

  .social-media {
    @apply text-2xl;
  }

  .social-media a {
    @apply text-gray-700 p-4;
  }

  .social-media a:hover, .social-media a:focus {
    @apply text-primary-500;
  }