{% set title = 'Home' %}
{% extends "_includes/layout.twig" %}

{% block body %}


<svg class="md:hidden" width="332" height="332" viewBox="0 0 332 332" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="332" height="332" fill="white"/>
<circle cx="165.5" cy="165.5" r="163.5" fill="#0D4BA0"/>
<path d="M309 165.5C309 247.064 244.653 313 165.5 313C86.3474 313 22 247.064 22 165.5C22 83.9364 86.3474 18 165.5 18C244.653 18 309 83.9364 309 165.5Z" stroke="white" stroke-width="8"/>
<path d="M232.714 172.184C248.71 165.616 259.028 154.802 259 144.635C258.981 138.628 255.234 133.668 248.71 131.022C240.484 127.7 232.752 128.28 225.343 131.317C256.974 88.3842 246.408 73.1911 244.849 71.3538C243.479 69.7355 241.064 69.5451 239.447 70.9064C237.83 72.2772 237.64 74.6952 239.009 76.3135C239.143 76.4753 250.041 94.6194 199.209 150.994C195.785 154.449 192.4 158.076 189.033 161.675C173.551 178.238 158.933 193.879 143.803 191.242C132.923 189.348 128.329 179.19 128.596 169.966C128.938 158.2 136.775 145.482 153.503 143.559C184.934 139.951 206.152 119.513 208.51 101.835C210.041 90.3642 203.86 80.9685 191.572 76.066C178.867 71.0016 160.236 74.5048 140.436 85.6902C122.766 95.6761 105.648 110.898 92.2477 128.556C76.9267 148.747 66.8364 171.508 63.0513 194.403C62.7089 196.487 64.1164 198.467 66.2087 198.81C68.3009 199.153 70.2695 197.744 70.6119 195.65C78.9048 145.434 115.443 108.642 144.202 92.3824C161.967 82.3488 178.201 78.998 188.738 83.1961C197.764 86.7944 201.977 92.8964 200.921 100.826C199 115.277 179.989 132.802 152.638 135.943C143.004 137.048 134.872 141.227 129.128 148.033C124.078 154.021 121.178 161.722 120.94 169.738C120.503 184.788 129.157 196.468 142.49 198.791C144.069 199.067 145.629 199.2 147.179 199.2C164.449 199.2 179.694 182.732 194.625 166.91C221.026 138.942 231.725 132.402 245.838 138.114C249.48 139.589 251.325 141.779 251.335 144.635C251.354 150.213 244.62 158.99 229.804 165.073C219.609 169.262 213.36 176.239 213.113 183.75C212.913 189.824 216.537 195.155 223.07 198.363C225.476 199.543 227.863 200 230.117 200C237.145 200 242.795 195.592 243.099 195.345C244.754 194.031 245.02 191.632 243.717 189.976C242.414 188.32 240.008 188.034 238.344 189.329C238.277 189.376 231.981 194.203 226.446 191.48C222.69 189.633 220.674 186.977 220.769 184.007C220.911 179.676 225.495 175.135 232.714 172.175V172.184Z" fill="white"/>
<path d="M64.2739 242V215.21H75.3699C78.2325 215.21 80.4365 215.881 81.9819 217.224C83.5525 218.567 84.3379 220.441 84.3379 222.848C84.3379 224.444 83.9832 225.799 83.2739 226.914C82.5645 228.029 81.5639 228.877 80.2719 229.46C79.0052 230.043 77.5232 230.334 75.8259 230.334L76.4719 229.802H77.3839C78.4225 229.802 79.3472 230.068 80.1579 230.6C80.9685 231.107 81.6399 231.943 82.1719 233.108L85.9719 242H82.0579L78.3719 233.184C77.9412 232.095 77.3079 231.385 76.4719 231.056C75.6612 230.727 74.6352 230.562 73.3939 230.562H67.8079V242H64.2739ZM67.8079 227.826H74.8379C76.7885 227.826 78.2705 227.408 79.2839 226.572C80.3225 225.736 80.8419 224.52 80.8419 222.924C80.8419 221.353 80.3225 220.163 79.2839 219.352C78.2705 218.516 76.7885 218.098 74.8379 218.098H67.8079V227.826Z" fill="white"/>
<path d="M90.3157 242V222.886H93.7737V242H90.3157ZM90.0117 218.706V214.982H94.1157V218.706H90.0117Z" fill="white"/>
<path d="M107.764 242.342C105.864 242.342 104.217 241.949 102.824 241.164C101.431 240.353 100.341 239.201 99.556 237.706C98.796 236.186 98.416 234.387 98.416 232.31C98.416 230.258 98.8086 228.51 99.594 227.066C100.379 225.597 101.469 224.482 102.862 223.722C104.255 222.937 105.889 222.544 107.764 222.544C109.005 222.544 110.209 222.759 111.374 223.19C112.539 223.595 113.489 224.191 114.224 224.976L113.046 227.408C112.311 226.699 111.501 226.179 110.614 225.85C109.727 225.495 108.853 225.318 107.992 225.318C106.117 225.318 104.648 225.926 103.584 227.142C102.52 228.333 101.988 230.068 101.988 232.348C101.988 234.653 102.52 236.427 103.584 237.668C104.648 238.909 106.117 239.53 107.992 239.53C108.828 239.53 109.689 239.365 110.576 239.036C111.463 238.707 112.286 238.187 113.046 237.478L114.224 239.872C113.464 240.683 112.489 241.303 111.298 241.734C110.133 242.139 108.955 242.342 107.764 242.342Z" fill="white"/>
<path d="M118.445 242V214.032H121.903V231.322H121.979L130.605 222.886H134.899L124.639 232.918L124.677 231.284L135.811 242H131.403L121.979 233.108H121.903V242H118.445Z" fill="white"/>
<path d="M148.735 242V215.21H152.269V226.914H167.849V215.21H171.421V242H167.849V229.916H152.269V242H148.735Z" fill="white"/>
<path d="M185.579 242.342C183.704 242.342 182.083 241.949 180.715 241.164C179.347 240.353 178.283 239.213 177.523 237.744C176.763 236.249 176.383 234.476 176.383 232.424C176.383 230.397 176.763 228.649 177.523 227.18C178.283 225.685 179.347 224.545 180.715 223.76C182.083 222.949 183.704 222.544 185.579 222.544C187.453 222.544 189.075 222.949 190.443 223.76C191.836 224.545 192.9 225.685 193.635 227.18C194.395 228.649 194.775 230.397 194.775 232.424C194.775 234.476 194.395 236.249 193.635 237.744C192.9 239.213 191.836 240.353 190.443 241.164C189.075 241.949 187.453 242.342 185.579 242.342ZM185.579 239.606C187.301 239.606 188.682 238.998 189.721 237.782C190.759 236.566 191.279 234.78 191.279 232.424C191.279 230.068 190.759 228.295 189.721 227.104C188.682 225.913 187.301 225.318 185.579 225.318C183.831 225.318 182.437 225.913 181.399 227.104C180.385 228.295 179.879 230.068 179.879 232.424C179.879 234.78 180.385 236.566 181.399 237.782C182.437 238.998 183.831 239.606 185.579 239.606Z" fill="white"/>
<path d="M207.625 242.342C205.725 242.342 204.079 241.949 202.685 241.164C201.292 240.353 200.203 239.201 199.417 237.706C198.657 236.186 198.277 234.387 198.277 232.31C198.277 230.258 198.67 228.51 199.455 227.066C200.241 225.597 201.33 224.482 202.723 223.722C204.117 222.937 205.751 222.544 207.625 222.544C208.867 222.544 210.07 222.759 211.235 223.19C212.401 223.595 213.351 224.191 214.085 224.976L212.907 227.408C212.173 226.699 211.362 226.179 210.475 225.85C209.589 225.495 208.715 225.318 207.853 225.318C205.979 225.318 204.509 225.926 203.445 227.142C202.381 228.333 201.849 230.068 201.849 232.348C201.849 234.653 202.381 236.427 203.445 237.668C204.509 238.909 205.979 239.53 207.853 239.53C208.689 239.53 209.551 239.365 210.437 239.036C211.324 238.707 212.147 238.187 212.907 237.478L214.085 239.872C213.325 240.683 212.35 241.303 211.159 241.734C209.994 242.139 208.816 242.342 207.625 242.342Z" fill="white"/>
<path d="M225.108 242.342C222.803 242.342 221.067 241.721 219.902 240.48C218.762 239.239 218.192 237.326 218.192 234.742V222.886H221.65V234.666C221.65 236.338 221.992 237.567 222.676 238.352C223.36 239.137 224.424 239.53 225.868 239.53C227.439 239.53 228.705 239.011 229.668 237.972C230.656 236.908 231.15 235.502 231.15 233.754V222.886H234.608V242H231.264V237.782H231.758C231.226 239.226 230.377 240.353 229.212 241.164C228.047 241.949 226.679 242.342 225.108 242.342Z" fill="white"/>
<path d="M247.567 242.342C245.566 242.342 244.046 241.797 243.007 240.708C241.994 239.593 241.487 237.921 241.487 235.692V225.546H237.763V222.886H241.487V217.756L244.945 216.806V222.886H250.341V225.546H244.945V235.388C244.945 236.857 245.198 237.909 245.705 238.542C246.237 239.15 246.997 239.454 247.985 239.454C248.492 239.454 248.923 239.416 249.277 239.34C249.657 239.239 249.999 239.125 250.303 238.998V241.848C249.923 242 249.48 242.114 248.973 242.19C248.492 242.291 248.023 242.342 247.567 242.342Z" fill="white"/>
<path d="M260.481 242.342C258.48 242.342 256.96 241.797 255.921 240.708C254.908 239.593 254.401 237.921 254.401 235.692V225.546H250.677V222.886H254.401V217.756L257.859 216.806V222.886H263.255V225.546H257.859V235.388C257.859 236.857 258.113 237.909 258.619 238.542C259.151 239.15 259.911 239.454 260.899 239.454C261.406 239.454 261.837 239.416 262.191 239.34C262.571 239.239 262.913 239.125 263.217 238.998V241.848C262.837 242 262.394 242.114 261.887 242.19C261.406 242.291 260.937 242.342 260.481 242.342Z" fill="white"/>
</svg>


<script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.490/build/spline-viewer.js"></script>
<spline-viewer class="hidden md:block" url="https://prod.spline.design/nKWfTWaHmFzebwsX/scene.splinecode"></spline-viewer>

<section class="max-w-6xl mx-auto my-12">
    <h1 class="sr-only">Rick Hocutt</h1>
    <p>As a Senior UX Product Designer for Lowe's, I spend most of my days in Figma and FigJam, crafting innovative components and patterns for the Design System Team. I take pride in not just building these elements, but also running workshops on how to prototype and create reusable assets in Figma.</p>
    <p>I could bore you with the classic "I love creating digital experiences that delight users" spiel, but let's be real, you've read that a million times before. Instead, I'll say this: I'm all about simplifying complex tasks for users. I firmly believe that less is more when it comes to UI design, no one wants to feel like they're battling their way through an application with a thousand features. My goal is to use the philosophy of the best UI is no UI and I'm all about building intuitive flows that give users exactly what they need, when they need it.</p>
    <p>When I'm not crafting the perfect UX experience, you can find me hanging out with my family or indulging in my adrenaline-fueled hobbies. I love mountain biking, wakeboarding, and snowboarding. I also wake up too early in the morning and <s>punish</s> challenge myself at F3 workouts.</p>
</section>

<section class="max-w-6xl mx-auto my-6">
    <h2 class="text-center">Let's Chat</h2>

    <form method="post" netlify>
        <div class="flex flex-wrap -m-4">
            <div class="flex-auto md:w-1/2 p-4">
                <label for="your-name">Your Name
                    <input type="text" name="your-name" id="your-name" required>
                </label>
            </div>

            <div class="flex-auto md:w-1/2 p-4">
                <label for="email">Your Email address
                    <input type="email" name="email" id="email" required>
                </label>
            </div>
        </div>

        <div class="my-4">
            <label for="message">Your Message
                <textarea name="message" id="message" rows="8" required></textarea>
            </label>
        </div>

        <button type="submit" class="button button--primary">Submit</button>
    </form>
</section>

{% endblock %}