{% set title = 'Home' %}
{% extends "_includes/layout.twig" %}

{% block body %}

<script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.490/build/spline-viewer.js"></script>
<spline-viewer url="https://prod.spline.design/nKWfTWaHmFzebwsX/scene.splinecode"></spline-viewer>

<section class="max-w-6xl mx-auto my-12">
    <h1 class="text-center">Rick Hocutt</h1>
    <p>As a Senior UX Product Designer for Lowe's, I spend most of my days in Figma and FigJam, crafting innovative components and patterns for the Design System Team. I take pride in not just building these elements, but also running workshops on how to prototype and create reusable assets in Figma.</p>
    <p>I could bore you with the classic "I love creating digital experiences that delight users" spiel, but let's be real, you've read that a million times before. Instead, I'll say this: I'm all about simplifying complex tasks for users. I firmly believe that less is more when it comes to UI design, no one wants to feel like they're battling their way through an application with a thousand features. My goal is to use the philosophy of the best UI is no UI and I'm all about building intuitive flows that give users exactly what they need, when they need it.</p>
    <p>When I'm not crafting the perfect UX experience, you can find me hanging out with my family or indulging in my adrenaline-fueled hobbies. I love mountain biking, wakeboarding, and snowboarding. I also wake up too early in the morning and <s>punish</s> challenge myself at F3 workouts.</p>
</section>

<section class="max-w-6xl mx-auto my-6">
    <h2 class="text-center">Let's Chat</h2>

    <form method="post" netlify>
        <div class="flex flex-wrap -m-4">
            <div class="flex-auto md:w-1/2 p-4">
                <label for="your-name">Your Name
                    <input type="text" name="your-name" id="your-name" required>
                </label>
            </div>

            <div class="flex-auto md:w-1/2 p-4">
                <label for="email">Your Email address
                    <input type="email" name="email" id="email" required>
                </label>
            </div>
        </div>

        <div class="my-4">
            <label for="message">Your Message
                <textarea name="message" id="message" rows="8" required></textarea>
            </label>
        </div>

        <button type="submit" class="button button--primary">Submit</button>
    </form>
</section>

{% endblock %}