{% set title = 'Home' %}
{% extends "_includes/layout.twig" %}

{% block body %}

<svg class="mx-auto" width="332" height="332" viewBox="0 0 332 332" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="332" height="332" fill="white"/>
    <circle cx="166.5" cy="166.5" r="163.5" fill="#0D4BA0"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M166.5 310C243.343 310 306 245.956 306 166.5C306 87.044 243.343 23 166.5 23C89.6567 23 27 87.044 27 166.5C27 245.956 89.6567 310 166.5 310ZM166.5 318C247.962 318 314 250.171 314 166.5C314 82.8289 247.962 15 166.5 15C85.038 15 19 82.8289 19 166.5C19 250.171 85.038 318 166.5 318Z" fill="white"/>
    <path d="M237.714 194.184C253.71 187.616 264.028 176.802 264 166.635C263.981 160.628 260.234 155.668 253.71 153.022C245.484 149.7 237.752 150.28 230.343 153.317C261.974 110.384 251.408 95.1911 249.849 93.3538C248.479 91.7355 246.064 91.5451 244.447 92.9064C242.83 94.2772 242.64 96.6952 244.009 98.3135C244.143 98.4753 255.041 116.619 204.209 172.994C200.785 176.449 197.4 180.076 194.033 183.675C178.551 200.238 163.933 215.879 148.803 213.242C137.923 211.348 133.329 201.19 133.596 191.966C133.938 180.2 141.775 167.482 158.503 165.559C189.934 161.951 211.152 141.513 213.51 123.835C215.041 112.364 208.86 102.969 196.572 98.066C183.867 93.0016 165.236 96.5048 145.436 107.69C127.766 117.676 110.648 132.898 97.2477 150.556C81.9267 170.747 71.8364 193.508 68.0513 216.403C67.7089 218.487 69.1164 220.467 71.2087 220.81C73.3009 221.153 75.2695 219.744 75.6119 217.65C83.9048 167.434 120.443 130.642 149.202 114.382C166.967 104.349 183.201 100.998 193.738 105.196C202.764 108.794 206.977 114.896 205.921 122.826C204 137.277 184.989 154.802 157.638 157.943C148.004 159.048 139.872 163.227 134.128 170.033C129.078 176.021 126.178 183.722 125.94 191.738C125.503 206.788 134.157 218.468 147.49 220.791C149.069 221.067 150.629 221.2 152.179 221.2C169.449 221.2 184.694 204.732 199.625 188.91C226.026 160.942 236.725 154.402 250.838 160.114C254.48 161.589 256.325 163.779 256.335 166.635C256.354 172.213 249.62 180.99 234.804 187.073C224.609 191.262 218.36 198.239 218.113 205.75C217.913 211.824 221.537 217.155 228.07 220.363C230.476 221.543 232.863 222 235.117 222C242.145 222 247.795 217.592 248.099 217.345C249.754 216.031 250.02 213.632 248.717 211.976C247.414 210.32 245.008 210.034 243.344 211.329C243.277 211.376 236.981 216.203 231.446 213.48C227.69 211.633 225.674 208.977 225.769 206.007C225.911 201.676 230.495 197.135 237.714 194.175V194.184Z" fill="white"/>
</svg>

<section class="max-w-6xl mx-auto my-12">
    <h1 class="text-center">Rick Hocutt</h1>
    <p>As a Senior UX Product Designer for Lowe's, I spend most of my days in Figma and FigJam, crafting innovative components and patterns for the Design System Team. I take pride in not just building these elements, but also running workshops on how to prototype and create reusable assets in Figma.</p>
    <p>I could bore you with the classic "I love creating digital experiences that delight users" spiel, but let's be real, you've read that a million times before. Instead, I'll say this: I'm all about simplifying complex tasks for users. I firmly believe that less is more when it comes to UI design, no one wants to feel like they're battling their way through an application with a thousand features. My goal is to use the philosophy of the best UI is no UI and I'm all about building intuitive flows that give users exactly what they need, when they need it.</p>
    <p>When I'm not crafting the perfect UX experience, you can find me hanging out with my family or indulging in my adrenaline-fueled hobbies. I love mountain biking, wakeboarding, and snowboarding. I also wake up too early in the morning and <s>punish</s> challenge myself at F3 workouts.</p>
</section>

<section class="max-w-6xl mx-auto my-6">
    <h2 class="text-center">Let's Chat</h2>

    <form method="post" netlify>
        <div class="flex flex-wrap -m-4">
            <div class="flex-auto md:w-1/2 p-4">
                <label for="your-name">Your Name
                    <input type="text" name="your-name" id="your-name" required>
                </label>
            </div>

            <div class="flex-auto md:w-1/2 p-4">
                <label for="email">Your Email address
                    <input type="email" name="email" id="email" required>
                </label>
            </div>
        </div>

        <div class="my-4">
            <label for="message">Your Message
                <textarea name="message" id="message" rows="8" required></textarea>
            </label>
        </div>

        <button type="submit" class="button button--primary">Submit</button>
    </form>
</section>

{% endblock %}