{% set title = 'Home' %}
{% extends "_includes/layout.twig" %}

{% block body %}

<svg class="md:hidden mx-auto" width="330" height="330" viewBox="0 0 330 330" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="330" height="330" fill="white"/>
    <circle cx="165" cy="165" r="163.006" fill="#0D4BA0"/>
    <circle cx="165" cy="165" r="147.042" stroke="white" stroke-width="8"/>
    <path d="M232.011 171.664C247.958 165.115 258.246 154.334 258.217 144.198C258.198 138.209 254.463 133.264 247.958 130.626C239.757 127.314 232.049 127.893 224.662 130.92C256.198 88.1172 245.664 72.97 244.109 71.1383C242.744 69.5248 240.335 69.335 238.724 70.6922C237.112 72.0589 236.922 74.4695 238.287 76.0829C238.42 76.2443 249.286 94.3336 198.607 150.538C195.194 153.983 191.819 157.599 188.462 161.186C173.026 177.7 158.453 193.293 143.368 190.664C132.521 188.776 127.942 178.649 128.207 169.453C128.549 157.722 136.361 145.042 153.039 143.125C184.376 139.528 205.529 119.152 207.88 101.528C209.407 90.0912 203.244 80.7239 190.994 75.8362C178.326 70.7871 159.752 74.2797 140.012 85.4313C122.395 95.387 105.328 110.563 91.969 128.168C76.6943 148.298 66.6344 170.99 62.8608 193.815C62.5195 195.894 63.9227 197.868 66.0087 198.209C68.0946 198.551 70.0573 197.146 70.3986 195.059C78.6664 144.995 115.094 108.313 143.766 92.1033C161.478 82.1 177.663 78.7593 188.168 82.9447C197.166 86.5322 201.366 92.6158 200.314 100.522C198.399 114.928 179.445 132.401 152.176 135.533C142.572 136.634 134.465 140.8 128.738 147.586C123.704 153.556 120.812 161.234 120.575 169.225C120.138 184.23 128.767 195.875 142.06 198.19C143.634 198.466 145.189 198.599 146.734 198.599C163.952 198.599 179.151 182.18 194.037 166.406C220.358 138.522 231.025 132.002 245.095 137.697C248.726 139.168 250.566 141.351 250.575 144.198C250.594 149.759 243.881 158.51 229.109 164.574C218.945 168.75 212.716 175.707 212.469 183.195C212.27 189.25 215.883 194.565 222.396 197.763C224.795 198.94 227.175 199.396 229.422 199.396C236.429 199.396 242.061 195.002 242.364 194.755C244.014 193.445 244.28 191.053 242.981 189.402C241.682 187.751 239.283 187.466 237.624 188.757C237.557 188.804 231.281 193.616 225.762 190.902C222.017 189.06 220.007 186.412 220.102 183.451C220.244 179.133 224.814 174.606 232.011 171.654V171.664Z" fill="white"/>
    <path d="M64.0797 241.269V214.56H75.1422C77.9962 214.56 80.1935 215.229 81.7342 216.568C83.3001 217.906 84.0831 219.775 84.0831 222.175C84.0831 223.766 83.7295 225.117 83.0223 226.228C82.3151 227.34 81.3174 228.186 80.0294 228.767C78.7665 229.348 77.289 229.638 75.5968 229.638L76.2408 229.108H77.1501C78.1856 229.108 79.1075 229.373 79.9157 229.903C80.7239 230.408 81.3932 231.242 81.9236 232.404L85.7121 241.269H81.81L78.1351 232.48C77.7057 231.393 77.0743 230.686 76.2408 230.358C75.4326 230.03 74.4097 229.865 73.1721 229.865H67.603V241.269H64.0797ZM67.603 227.138H74.6118C76.5565 227.138 78.0341 226.721 79.0443 225.887C80.0799 225.054 80.5976 223.842 80.5976 222.251C80.5976 220.685 80.0799 219.498 79.0443 218.689C78.0341 217.856 76.5565 217.439 74.6118 217.439H67.603V227.138Z" fill="white"/>
    <path d="M90.0429 241.269V222.213H93.4904V241.269H90.0429ZM89.7398 218.045V214.333H93.8314V218.045H89.7398Z" fill="white"/>
    <path d="M107.438 241.61C105.544 241.61 103.902 241.218 102.513 240.435C101.124 239.627 100.038 238.478 99.2552 236.988C98.4975 235.472 98.1186 233.679 98.1186 231.608C98.1186 229.562 98.5101 227.82 99.2931 226.38C100.076 224.915 101.162 223.804 102.551 223.046C103.94 222.263 105.569 221.872 107.438 221.872C108.676 221.872 109.876 222.086 111.037 222.516C112.199 222.92 113.146 223.513 113.879 224.296L112.704 226.721C111.972 226.014 111.164 225.496 110.28 225.168C109.396 224.814 108.524 224.637 107.666 224.637C105.797 224.637 104.332 225.243 103.271 226.456C102.21 227.643 101.68 229.373 101.68 231.646C101.68 233.944 102.21 235.712 103.271 236.95C104.332 238.188 105.797 238.806 107.666 238.806C108.499 238.806 109.358 238.642 110.242 238.314C111.126 237.985 111.947 237.468 112.704 236.761L113.879 239.147C113.121 239.956 112.149 240.574 110.962 241.004C109.8 241.408 108.625 241.61 107.438 241.61Z" fill="white"/>
    <path d="M118.087 241.269V213.385H121.534V230.623H121.61L130.21 222.213H134.491L124.262 232.214L124.3 230.585L135.4 241.269H131.006L121.61 232.404H121.534V241.269H118.087Z" fill="white"/>
    <path d="M148.285 241.269V214.56H151.809V226.228H167.342V214.56H170.903V241.269H167.342V229.221H151.809V241.269H148.285Z" fill="white"/>
    <path d="M185.018 241.61C183.149 241.61 181.533 241.218 180.169 240.435C178.805 239.627 177.744 238.491 176.986 237.026C176.229 235.536 175.85 233.768 175.85 231.722C175.85 229.701 176.229 227.959 176.986 226.494C177.744 225.004 178.805 223.867 180.169 223.084C181.533 222.276 183.149 221.872 185.018 221.872C186.887 221.872 188.504 222.276 189.867 223.084C191.257 223.867 192.317 225.004 193.05 226.494C193.807 227.959 194.186 229.701 194.186 231.722C194.186 233.768 193.807 235.536 193.05 237.026C192.317 238.491 191.257 239.627 189.867 240.435C188.504 241.218 186.887 241.61 185.018 241.61ZM185.018 238.882C186.736 238.882 188.112 238.276 189.148 237.064C190.183 235.851 190.701 234.071 190.701 231.722C190.701 229.373 190.183 227.605 189.148 226.418C188.112 225.231 186.736 224.637 185.018 224.637C183.275 224.637 181.886 225.231 180.851 226.418C179.84 227.605 179.335 229.373 179.335 231.722C179.335 234.071 179.84 235.851 180.851 237.064C181.886 238.276 183.275 238.882 185.018 238.882Z" fill="white"/>
    <path d="M206.998 241.61C205.104 241.61 203.462 241.218 202.073 240.435C200.684 239.627 199.598 238.478 198.815 236.988C198.057 235.472 197.678 233.679 197.678 231.608C197.678 229.562 198.07 227.82 198.853 226.38C199.636 224.915 200.722 223.804 202.111 223.046C203.5 222.263 205.129 221.872 206.998 221.872C208.236 221.872 209.435 222.086 210.597 222.516C211.759 222.92 212.706 223.513 213.439 224.296L212.264 226.721C211.532 226.014 210.723 225.496 209.839 225.168C208.955 224.814 208.084 224.637 207.225 224.637C205.356 224.637 203.891 225.243 202.831 226.456C201.77 227.643 201.239 229.373 201.239 231.646C201.239 233.944 201.77 235.712 202.831 236.95C203.891 238.188 205.356 238.806 207.225 238.806C208.059 238.806 208.918 238.642 209.802 238.314C210.686 237.985 211.506 237.468 212.264 236.761L213.439 239.147C212.681 239.956 211.708 240.574 210.521 241.004C209.36 241.408 208.185 241.61 206.998 241.61Z" fill="white"/>
    <path d="M224.428 241.61C222.13 241.61 220.399 240.991 219.238 239.753C218.101 238.516 217.533 236.609 217.533 234.033V222.213H220.98V233.957C220.98 235.624 221.321 236.849 222.003 237.632C222.685 238.415 223.746 238.806 225.186 238.806C226.752 238.806 228.014 238.289 228.974 237.253C229.959 236.192 230.452 234.791 230.452 233.048V222.213H233.899V241.269H230.565V237.064H231.058C230.527 238.503 229.681 239.627 228.519 240.435C227.358 241.218 225.994 241.61 224.428 241.61Z" fill="white"/>
    <path d="M246.819 241.61C244.824 241.61 243.309 241.067 242.273 239.981C241.263 238.869 240.758 237.203 240.758 234.98V224.865H237.045V222.213H240.758V217.098L244.205 216.151V222.213H249.585V224.865H244.205V234.677C244.205 236.142 244.458 237.19 244.963 237.821C245.493 238.427 246.251 238.731 247.236 238.731C247.741 238.731 248.17 238.693 248.524 238.617C248.903 238.516 249.244 238.402 249.547 238.276V241.117C249.168 241.269 248.726 241.383 248.221 241.458C247.741 241.559 247.274 241.61 246.819 241.61Z" fill="white"/>
    <path d="M259.694 241.61C257.699 241.61 256.184 241.067 255.148 239.981C254.138 238.869 253.633 237.203 253.633 234.98V224.865H249.92V222.213H253.633V217.098L257.08 216.151V222.213H262.46V224.865H257.08V234.677C257.08 236.142 257.333 237.19 257.838 237.821C258.368 238.427 259.126 238.731 260.111 238.731C260.616 238.731 261.046 238.693 261.399 238.617C261.778 238.516 262.119 238.402 262.422 238.276V241.117C262.043 241.269 261.601 241.383 261.096 241.458C260.616 241.559 260.149 241.61 259.694 241.61Z" fill="white"/>
</svg>

<script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.490/build/spline-viewer.js"></script>
<spline-viewer class="hidden md:block" url="https://prod.spline.design/nKWfTWaHmFzebwsX/scene.splinecode"></spline-viewer>

<section class="max-w-6xl mx-auto my-12">
    <h1 class="sr-only">Rick Hocutt</h1>
    <p>As a Senior UX Product Designer for Lowe's, I spend most of my days in Figma and FigJam, crafting innovative components and patterns for the Design System Team. I take pride in not just building these elements, but also running workshops on how to prototype and create reusable assets in Figma.</p>
    <p>I could bore you with the classic "I love creating digital experiences that delight users" spiel, but let's be real, you've read that a million times before. Instead, I'll say this: I'm all about simplifying complex tasks for users. I firmly believe that less is more when it comes to UI design, no one wants to feel like they're battling their way through an application with a thousand features. My goal is to use the philosophy of the best UI is no UI and I'm all about building intuitive flows that give users exactly what they need, when they need it.</p>
    <p>When I'm not crafting the perfect UX experience, you can find me hanging out with my family or indulging in my adrenaline-fueled hobbies. I love mountain biking, wakeboarding, and snowboarding. I also wake up too early in the morning and <s>punish</s> challenge myself at F3 workouts.</p>
</section>

<section class="max-w-6xl mx-auto my-6">
    <h2 class="text-center">Let's Chat</h2>

    <form method="post" netlify>
        <div class="flex flex-wrap -m-4">
            <div class="flex-auto md:w-1/2 p-4">
                <label for="your-name">Your Name
                    <input type="text" name="your-name" id="your-name" required>
                </label>
            </div>

            <div class="flex-auto md:w-1/2 p-4">
                <label for="email">Your Email address
                    <input type="email" name="email" id="email" required>
                </label>
            </div>
        </div>

        <div class="my-4">
            <label for="message">Your Message
                <textarea name="message" id="message" rows="8" required></textarea>
            </label>
        </div>

        <button type="submit" class="button button--primary">Submit</button>
    </form>
</section>

{% endblock %}